.side-bar__group
  =link_to "#", class: "side-bar__group--name" do
    aaa
    .side-bar__group--message
      まだメッセージがありません

.side-bar__group
  =link_to "#", class: "side-bar__group--name" do
    aaa
    .side-bar__group--message
      こんにちは！

.side-bar__group
  =link_to "#", class: "side-bar__group--name" do
    aaa
    .side-bar__group--message
      まだメッセージがありません

.side-bar__group
  =link_to "#", class: "side-bar__group--name" do
    aaa
    .side-bar__group--message
      まだメッセージがありません

.side-bar__group
  =link_to "#", class: "side-bar__group--name" do
    aaa
    .side-bar__group--message
      こんにちは！

.side-bar__group
  =link_to "#", class: "side-bar__group--name" do
    aaa
    .side-bar__group--message
      まだメッセージがありません

.side-bar__group
  =link_to "#", class: "side-bar__group--name" do
    aaa
    .side-bar__group--message
      まだメッセージがありません

.side-bar__group
  =link_to "#", class: "side-bar__group--name" do
    aaa
    .side-bar__group--message
      こんにちは！

.side-bar__group
  =link_to "#", class: "side-bar__group--name" do
    aaa
    .side-bar__group--message
      まだメッセージがありません
      
.side-bar__group
  =link_to "#", class: "side-bar__group--name" do
    aaa
    .side-bar__group--message
      こんにちは！

.side-bar__group
  =link_to "#", class: "side-bar__group--name" do
    aaa
    .side-bar__group--message
      まだメッセージがありません

.side-bar__group
  =link_to "#", class: "side-bar__group--name" do
    aaa
    .side-bar__group--message
      まだメッセージがありません

.side-bar__group
  =link_to "#", class: "side-bar__group--name" do
    aaa
    .side-bar__group--message
      こんにちは！

.side-bar__group
  =link_to "#", class: "side-bar__group--name" do
    aaa
    .side-bar__group--message
      まだメッセージがありません