.content__post
  .content__data
    .content__user
      = message.user.name
    .content__time
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  %p.content__message{data: {message_id: message.id}}
    - if message.content.present?
      %p
        = message.content
    = link_to image_tag(src= message.image.url, style: "max-width:300px;"),message.image.url, target: :_blank if message.image.present?
