.content__post
  .content__data
    .content__user
      ゲスト１
    .content__time
      2019/10/15(Tue) 19:14:27
  %p.content__message
    わあああああああああああ
-# メッセーj
.content__post
  .content__data
    .content__user
      ゲスト１
    .content__time
      2019/10/15(Tue) 19:14:27
  %p.content__message
    こんにちは
-# メッセーj
.content__post
  .content__data
    .content__user
      ゲスト2
    .content__time
      2019/10/15(Tue) 19:14:27
  %p.content__message
    こんにちは
-# メッセーj
.content__post
  .content__data
    .content__user
      ゲスト１
    .content__time
      2019/10/15(Tue) 19:14:27
  %p.content__message
    こんにち
-# メッセーj
.content__post
  .content__data
    .content__user
      ゲスト3
    .content__time
      2019/10/15(Tue) 19:14:27
  %p.content__message
    hello
-# メッセーj
.content__post
  .content__data
    .content__user
      ゲスト１
    .content__time
      2019/10/15(Tue) 19:14:27
  %p.content__message
    ppo
-# メッセーj
.content__post
  .content__data
    .content__user
      ゲスト１
    .content__time
      2019/10/15(Tue) 19:14:27
  %p.content__message
    こんにちは
-# メッセーj
.content__post
  .content__data
    .content__user
      ゲスト2
    .content__time
      2019/10/15(Tue) 19:14:27
  %p.content__message
    こんにちは